In [1]:
import pandas as pd
import numpy as np
import scipy as sc
from scipy import optimize

In [2]:
df = pd.read_csv('project-first-survey.csv')
df.head()

  First name Last Name Email Address  Choice 1  Choice 2  Choice 3
0          G         M             g         1         2         3
1          J         M             j         2         1         3
2          K         K             K         3         2         1
3          P         C             p         4         3         2
4          O         T             t         5         4         3

In [3]:
### CHANGE Choice 1 etc with P1
choice1 = []
choice2 = []
choice3 = []
for i in range(1,13):
    choice1.append(df[df['Choice 1']==i]['Choice 1'].count())
    choice2.append(df[df['Choice 2']==i]['Choice 2'].count())
    choice3.append(df[df['Choice 3']==i]['Choice 3'].count())

print(choice1)
print(choice2)
print(choice3)

[8, 7, 9, 7, 2, 2, 2, 2, 2, 2, 2, 2]
[2, 9, 7, 4, 4, 3, 3, 3, 3, 3, 3, 3]
[2, 1, 4, 6, 1, 2, 6, 9, 6, 4, 3, 3]

In [4]:
df[df['Choice 1']==1]['Choice 1'].count()

8

In [5]:
n = df.shape[0] # Number of students
m = 12 # Number of teams
t = 4 # Team size

In [6]:
print(df.iloc[:,3:6].head())
choices = df.iloc[:,3:6].to_numpy()
print(choices.shape)

   Choice 1  Choice 2  Choice 3
0         1         2         3
1         2         1         3
2         3         2         1
3         4         3         2
4         5         4         3
(47, 3)

In [7]:
c_choices = np.full((n*m,1),100)
for i in range(choices.shape[0]): # i = student number from 0 to n-1
    for k in range(choices.shape[1]): # k = choice number for the student i
        c_choices[i*m+choices[i,k]-1]=k+1
        #print(c_choices[i*m+choices[i,k]-1]) # must select the i*m+j cell, which represents the project j for student i. j = choices[i,k]

In [8]:
b_eq = np.ones((n,1))
b_ub = t*np.ones((m,1))

In [9]:
A_eq = np.zeros((n,n*m))
A_ub = np.zeros((m,n*m))

for row_eq in range(n):
    for i in range(m):
        A_eq[row_eq,row_eq*m+i]=1

for row_ub in range(m):
    for i in range(n):
        A_ub[row_ub,row_ub+i*m]=1

In [10]:
lb, ub = 0, 1

In [11]:
res = sc.optimize.linprog(c = c_choices, A_ub=A_ub, b_ub=b_ub, A_eq=A_eq, b_eq=b_eq, bounds=(lb,ub), method='simplex', callback=None, options=None, x0=None)

In [12]:
res['x'].shape

(564,)

In [13]:
res['x']

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])

In [14]:
x_res = res['x']

In [15]:
x_res = np.floor(x_res+0.5)

In [16]:
x_res_team = [[] for i in range(m)]
x_res_team

[[], [], [], [], [], [], [], [], [], [], [], []]

In [17]:
for i in range(n): # for each student
    sub_list = x_res[i*m:(i+1)*m]
    for j in range(m): # we will search its project
        if sub_list[j]>=1:
            x_res_team[j].append(i)
            print("Student :{} is assigned to team {}".format(i,j))

Student :0 is assigned to team 0
Student :1 is assigned to team 0
Student :2 is assigned to team 0
Student :3 is assigned to team 1
Student :4 is assigned to team 11
Student :5 is assigned to team 3
Student :6 is assigned to team 4
Student :7 is assigned to team 5
Student :8 is assigned to team 6
Student :9 is assigned to team 3
Student :10 is assigned to team 8
Student :11 is assigned to team 9
Student :12 is assigned to team 10
Student :13 is assigned to team 10
Student :14 is assigned to team 11
Student :15 is assigned to team 11
Student :16 is assigned to team 11
Student :17 is assigned to team 6
Student :18 is assigned to team 10
Student :19 is assigned to team 10
Student :20 is assigned to team 2
Student :21 is assigned to team 7
Student :22 is assigned to team 9
Student :23 is assigned to team 9
Student :24 is assigned to team 9
Student :25 is assigned to team 8
Student :26 is assigned to team 8
Student :27 is assigned to team 8
Student :28 is assigned to team 7
Student :29 is assigned to team 7
Student :30 is assigned to team 7
Student :31 is assigned to team 4
Student :32 is assigned to team 6
Student :33 is assigned to team 6
Student :34 is assigned to team 5
Student :35 is assigned to team 5
Student :36 is assigned to team 5
Student :37 is assigned to team 4
Student :38 is assigned to team 4
Student :39 is assigned to team 2
Student :40 is assigned to team 3
Student :41 is assigned to team 3
Student :42 is assigned to team 2
Student :43 is assigned to team 2
Student :44 is assigned to team 1
Student :45 is assigned to team 1
Student :46 is assigned to team 1

In [18]:
x_res_team

[[0, 1, 2],
 [3, 44, 45, 46],
 [20, 39, 42, 43],
 [5, 9, 40, 41],
 [6, 31, 37, 38],
 [7, 34, 35, 36],
 [8, 17, 32, 33],
 [21, 28, 29, 30],
 [10, 25, 26, 27],
 [11, 22, 23, 24],
 [12, 13, 18, 19],
 [4, 14, 15, 16]]

In [19]:
x_res[0:]

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])

In [20]:
colNames = []
for i in range(1,3+1):
    col = 'Choice '+str(i)
    c = df[col]
    colNames.append(col)
colNames

['Choice 1', 'Choice 2', 'Choice 3']

In [21]:
df['Team'] = 'TBA'
for i in range(n): # for each student
    sub_list = x_res[i*m:(i+1)*m]
    for j in range(m): # we will search its project
        if sub_list[j]>=1:
            df.at[i, 'Team'] = j+1
            x_res_team[j].append(i)
            #print("Student :{} is assigned to team {}".format(i,j))

In [22]:
df

   First name Last Name Email Address  Choice 1  Choice 2  Choice 3 Team
0           G         M             g         1         2         3    0
1           J         M             j         2         1         3    0
2           K         K             K         3         2         1    0
3           P         C             p         4         3         2    1
4           O         T             t         5         4         3   11
5           E         C             2         6         5         4    3
6           R         C             r         7         6         5    4
7           N         D             N         8         7         6    5
8           B         W             b         9         8         7    6
9           A         A             a        10         9         8    3
10          L         M             l        11        10         9    8
11          R         K             r        12        11        10    9
12          Z         W             w         1        12        11   10
13          H         F             F         2         3        12   10
14          E         B             e         3         2         4   11
15          S         S             s         4         2         8   11
16          N         J             j         5         2         8   11
17          L         L             l         6         2         8    6
18          I         E             i         7         4         8   10
19          A         T             a         8         5         9   10
20          N         S             s         9         6         8    2
21          J         T             j        10         7         9    7
22          K         T             k        11         8         9    9
23          E         G             e        12         9         8    9
24          D         K             d         1        10        12    9
25          A         M             a         1        11        12    8
26          S         T             s         1        12        11    8
27          H         M             H         1         2        10    8
28          A         P             a         1         2        10    7
29          K         C             c         2         3         4    7
30          O         P             o         2         3         4    7
31          M         P             m         2         3         4    4
32          K         T             k         2         3         4    6
33          s         D             d         2         4         9    6
34          O         S             o         3         5         8    5
35          M         T             m         3         6        10    5
36          E         V             e         3         7        11    5
37          B         Y             b         3         8         9    4
38          Y         P             y         3         9         7    4
39          M         Z             m         3        10         7    2
40          V         P             v         3        11         7    3
41          E         C             E         4        12         7    3
42          E         M             m         4         1         7    2
43          S         S             S         4         2         1    2
44          L         L             l         4         3         3    1
45          A         A             a         4         5         8    1
46          M         Z             m         1         4         6    1

In [21]:
from project_first import project_first_teams

results = project_first_teams('project-first-survey.csv', [], 12, 4, numberOfChoices = 3, isCsv = True)

In [22]:
results

[[0, 1, 2],
 [3, 44, 45, 46],
 [20, 39, 42, 43],
 [5, 9, 40, 41],
 [6, 31, 37, 38],
 [7, 34, 35, 36],
 [8, 17, 32, 33],
 [21, 28, 29, 30],
 [10, 25, 26, 27],
 [11, 22, 23, 24],
 [12, 13, 18, 19],
 [4, 14, 15, 16]]