In [1]:
import pandas as pd
import numpy as np
import scipy as sc
from scipy import optimize

In [2]:
df = pd.read_csv('project-first-survey.csv')
df.head()

  First name Last Name Email Address  Choice 1  Choice 2  Choice 3
0          G         M             g         1         2         3
1          J         M             j         2         1         3
2          K         K             K         3         2         1
3          P         C             p         4         3         2
4          O         T             t         5         4         3

In [3]:
choice1 = []
choice2 = []
choice3 = []
for i in range(1,13):
    choice1.append(df[df['Choice 1']==i]['Choice 1'].count())
    choice2.append(df[df['Choice 2']==i]['Choice 2'].count())
    choice3.append(df[df['Choice 3']==i]['Choice 3'].count())

print(choice1)
print(choice2)
print(choice3)

[8, 7, 9, 7, 2, 2, 2, 2, 2, 2, 2, 2]
[2, 9, 7, 4, 4, 3, 3, 3, 3, 3, 3, 3]
[2, 1, 4, 6, 1, 2, 6, 9, 6, 4, 3, 3]

In [4]:
df[df['Choice 1']==1]['Choice 1'].count()

8

In [5]:
n = df.shape[0] # Number of students
m = 12 # Number of teams
t = 4 # Team size

In [6]:
print(df.iloc[:,3:6].head())
choices = df.iloc[:,3:6].to_numpy()
print(choices.shape)

   Choice 1  Choice 2  Choice 3
0         1         2         3
1         2         1         3
2         3         2         1
3         4         3         2
4         5         4         3
(47, 3)

In [7]:
c_choices = np.full((n*m,1),100)
for i in range(choices.shape[0]): # i = student number from 0 to n-1
    for k in range(choices.shape[1]): # k = choice number for the student i
        c_choices[i*m+choices[i,k]-1]=k+1
        #print(c_choices[i*m+choices[i,k]-1]) # must select the i*m+j cell, which represents the project j for student i. j = choices[i,k]

In [8]:
b_eq = np.ones((n,1))
b_ub = t*np.ones((m,1))

In [9]:
A_eq = np.zeros((n,n*m))
A_ub = np.zeros((m,n*m))

for row_eq in range(n):
    for i in range(m):
        A_eq[row_eq,row_eq*m+i]=1

for row_ub in range(m):
    for i in range(n):
        A_ub[row_ub,row_ub+i*m]=1

In [10]:
lb, ub = 0, 1

In [12]:
res = sc.optimize.linprog(c = c_choices, A_ub=A_ub, b_ub=b_ub, A_eq=A_eq, b_eq=b_eq, bounds=(lb,ub), method='interior-point', callback=None, options=None, x0=None)

<ipython-input-12-484a2c32e28d>:1: OptimizeWarning: Solving system with option 'cholesky':True failed. It is normal for this to happen occasionally, especially as the solution is approached. However, if you see this frequently, consider setting option 'cholesky' to False.
  res = sc.optimize.linprog(c = c_choices, A_ub=A_ub, b_ub=b_ub, A_eq=A_eq, b_eq=b_eq, bounds=(lb,ub), method='interior-point', callback=None, options=None, x0=None)
<ipython-input-12-484a2c32e28d>:1: OptimizeWarning: Solving system with option 'sym_pos':True failed. It is normal for this to happen occasionally, especially as the solution is approached. However, if you see this frequently, consider setting option 'sym_pos' to False.
  res = sc.optimize.linprog(c = c_choices, A_ub=A_ub, b_ub=b_ub, A_eq=A_eq, b_eq=b_eq, bounds=(lb,ub), method='interior-point', callback=None, options=None, x0=None)

In [16]:
res['x'].shape

(564,)

In [17]:
x_res = res['x']

In [19]:
x_res = np.floor(x_res+0.5)

In [45]:
x_res_team = [[] for i in range(m)]
x_res_team

[[], [], [], [], [], [], [], [], [], [], [], []]

In [43]:
for i in range(n): # for each student
    sub_list = x_res[i*m:(i+1)*m]
    for j in range(m): # we will search its project
        if sub_list[j]==1.:
            print("Student :{} is assigned to team {}".format(i,j))

Student :0 is assigned to team 0
Student :1 is assigned to team 1
Student :2 is assigned to team 2
Student :3 is assigned to team 3
Student :4 is assigned to team 4
Student :5 is assigned to team 5
Student :6 is assigned to team 6
Student :7 is assigned to team 7
Student :8 is assigned to team 8
Student :9 is assigned to team 9
Student :10 is assigned to team 10
Student :11 is assigned to team 11
Student :12 is assigned to team 11
Student :13 is assigned to team 1
Student :14 is assigned to team 2
Student :15 is assigned to team 7
Student :16 is assigned to team 4
Student :17 is assigned to team 5
Student :18 is assigned to team 6
Student :19 is assigned to team 7
Student :20 is assigned to team 8
Student :21 is assigned to team 9
Student :22 is assigned to team 10
Student :23 is assigned to team 11
Student :24 is assigned to team 9
Student :25 is assigned to team 10
Student :26 is assigned to team 11
Student :27 is assigned to team 0
Student :28 is assigned to team 0
Student :29 is assigned to team 1
Student :30 is assigned to team 1
Student :31 is assigned to team 1
Student :32 is assigned to team 1
Student :33 is assigned to team 8
Student :34 is assigned to team 4
Student :35 is assigned to team 5
Student :36 is assigned to team 6
Student :37 is assigned to team 7
Student :38 is assigned to team 8
Student :39 is assigned to team 9
Student :40 is assigned to team 10
Student :41 is assigned to team 11
Student :42 is assigned to team 6
Student :43 is assigned to team 3
Student :44 is assigned to team 3
Student :45 is assigned to team 4
Student :46 is assigned to team 5

In [28]:
x_res.shape

(564,)

In [ ]:
x_res[0:]